@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@700&display=swap');

:root{
  --poppins:'Poppins', sans-serif;
  --roboto: 'Roboto', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('../images/bg.svg');
  background-position: top bottom;
  background-size: cover;
}

.container{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 20px;
}

h1,h2,h4,p, ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  display: block;
}