.header{
  width: 100%;
}

.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 100px;
}

.header-menu{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  padding: 10px;
}

.header-menu a{
  font-size: 1.75rem;
  color: #fff;
  font-family: var(--poppins);
}

.header-menu-mobile{
  position: absolute;
  left: 0;
  background-color: #332330;
  padding: 0;
  list-style: none;
  text-align: center;
  display: none;
  width: 100%;
}

@keyframes menu{
  from{
    opacity: 0;
    transform: translate3d(-30px, 0);
  }

  to{
    opacity: 1;
    transform: translate3d(0,0);
  }
}

.header-menu-mobile.ativarMenu{
  display: block;
  animation: menu .3s forwards;
}

.header-menu-mobile li a{
  font-size: 1.35rem;
  color: #fff;
  display: block;
  padding: 20px;
  font-family: var(--poppins);
}

.hamburguer-menu{
  width: 100%;
  max-width: 80px;
  cursor: pointer;
  display: none;
}

nav.mobile{
  display: none;
}

.header-sociais{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.header-sociais li{
  border: 2px solid #fff;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 1000px){
  .header .container{
    flex-direction: column;
    gap: 30px;
    padding: 20px;
  }

  .header-menu{
    gap: 30px;
  }
}

@media (max-width: 500px){

  .header-menu{
    display: none;
  } 

  .hamburguer-menu{
    display: block;
  }

  nav.mobile{
    display: block;
  }
}